<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>VTV1</string>
		<key>image</key>
		<string>vtv1</string>
		<key>channelId</key>
		<string>0</string>
		<key>source</key>
		<string>Vtv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VTVCab 1 - Giải Trí TV</string>
		<key>image</key>
		<string>vtvcab1</string>
		<key>channelId</key>
		<string>224</string>
		<key>source</key>
		<string>Vtvcab</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VTVCab 2 - Phim Việt</string>
		<key>image</key>
		<string>vtvcab2</string>
		<key>channelId</key>
		<string>4077</string>
		<key>source</key>
		<string>Vtvcab</string>
	</dict>
</array>
</plist>
